.divT {
    display: flex;
}

.button1 {
    align-content: left;
    align-self: left;
    height: 50px;
}

.button2 {
    align-content: right;
    align-self: right;
    height: 50px;
}

.texto {
    font-size: medium;;
    color: black;
}


